Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

added overseerr
  kubernetes/doc-home-cluster/apps/downloads/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/pvc.yaml
Labels: area/kubernetes

added external secret for qbittorrent
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/jobs/cronjob-tag-tracker-errors.yaml
Labels: area/kubernetes

qbittorrent conf encrypted
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/qBittorrent.conf
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/qBittorrent.sops.conf
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

qbittorrent conf unencrypted
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/qBittorrent.conf
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/qBittorrent.sops.conf
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

fixed missing BUCKET_REGION in loki helmrelease
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fixed missing BUCKET_REGION in loki helmrelease
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

removed volsync from qbittorrent Kustomization
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

Update schedule-renovate.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Update renovate.json5
  .github/renovate.json5
Labels: area/ci

Update schedule-renovate.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(docker-image): update ghcr.io/onedr0p/alpine:3.17.3 docker digest to 9993849
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/tools/fake-ssh.yaml
Labels: area/kubernetes

chore(docker-image): update ghcr.io/onedr0p/bazarr:1.2.0 docker digest to bf0e79a
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(docker-image): update ghcr.io/onedr0p/qbittorrent:4.5.2 docker digest to 4fb6a9d
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(docker-image): update ghcr.io/onedr0p/sabnzbd:3.7.2 docker digest to cbc7bdb
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

workflows updated
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(docker-image): update public.ecr.aws/docker/library/redis docker tag to v7.0.11
  kubernetes/doc-home-cluster/infrastructure/security/oauth2-proxy/redis/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update helm release goldilocks to 6.5.5
  kubernetes/doc-home-cluster/infrastructure/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm-chart): update helm release vpa to 1.7.2
  kubernetes/doc-home-cluster/infrastructure/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform-provider): update terraform proxmox to 2.9.14
  infrastructure/proxmox/modules/talos/main.tf
Labels: none

feat(docker-image): update 1password-connect group to v1.7.0
  kubernetes/doc-home-cluster/infrastructure/security/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/esphome/esphome docker tag to v2023.4.4
  kubernetes/doc-home-cluster/apps/home-automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/nginxinc/nginx-unprivileged docker tag to v1.24
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3297
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm-chart): update helm release alertmanager to 0.30.1
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes

feat(docker-image)!: Update ghcr.io/k8snetworkplumbingwg/multus-cni Docker tag to v4
  kubernetes/doc-home-cluster/infrastructure/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3299
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3300
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

updated radar image to radarr-develop
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes

updated sonarr image to sonarr-develop
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Create docker-compose.yml
  infrastructure/netmaker/docker-compose.yml
Labels: none

feat(helm-chart): update helm release prometheus-node-exporter to 4.17.2
  kubernetes/doc-home-cluster/infrastructure/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3301
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3302
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(docker-image): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3303
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

added netmaker
  infrastructure/netmaker/.gitignore
  infrastructure/netmaker/docker-compose.yml
Labels: none

added netmaker to renovate
  .github/renovate.json5
Labels: area/ci

added netmaker to renovate
  .github/renovate.json5
Labels: area/ci

qdm12/gluetun migrated to ghcr.io
  kubernetes/doc-home-cluster/infrastructure/vpn/pod-gateway/downloads/helmrelease.yaml
Labels: area/kubernetes

netmaker updated
  infrastructure/netmaker/docker-compose.yml
Labels: none

Update helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
