Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/doc-home-cluster

feat: add GitHub Actions workflow for deploying MkDocs site
  .github/workflows/deploy-mkdocs.yml
Labels: area/ci

docs: create initial Markdown files for documentation structure
  docs/index.md
  docs/kubernetes/apps/index.md
  docs/kubernetes/index.md
  docs/kubernetes/infrastructure/index.md
  docs/talos/index.md
Labels: none

chore: add requirements file for project dependencies
  requirements.txt
Labels: none

feat: add MkDocs and Material theme packages to requirements.txt
  requirements.txt
Labels: none

feat: add basic MkDocs configuration file mkdocs.yml
  mkdocs.yml
Labels: none

style: change theme from readthedocs to terminal in mkdocs.yml
  mkdocs.yml
Labels: none

feat(librechat) enabled
  kubernetes/doc-home-cluster/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore: remove obsolete librechat configuration and update secret management
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/config/librechat.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat: update helmrelease.yaml with enhanced liveness and startup probes
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update MeiliSearch resource requests and limits in helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/meilisearch/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Revert "chore(helm): update external-dns ( 1.15.2 → 1.16.1 )"
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(qbittorrent): gluetun refactored + added coredns
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/Corefile
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/config/dnsdist.conf
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(qbittorrent): gluetun refactored + added coredns
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(qbittorrent) tmp fix
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Revert "chore(container): update ghcr.io/home-operations/qbittorrent ( 995c561 → 25ec493 )"
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(qbittorrent) un-tmp fix
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(cilium) added gateway
  kubernetes/doc-home-cluster/flux/repositories/bjw-s.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/crds.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/helmrepository.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/values.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/bgp.conf
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/l2announcement.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/l3-policy.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/pool.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/gateway/certificate.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/gateway/gateway-internal.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/network/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat: replace ingress with route configuration for multiple apps
  kubernetes/doc-home-cluster/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/notifiarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/media/plex/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/media/plex/ks.yaml
  kubernetes/doc-home-cluster/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/media/tautulli/ks.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/ghostfolio/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/n8n/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/paperless/ks.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore: remove unused Cilium L3 policy configuration file
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/l3-policy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat: add Cilium BGP peering policy configuration file l3.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/config/l3.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update hostname in helmrelease.yaml for Plex application
  kubernetes/doc-home-cluster/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore: remove unnecessary blank line in helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore: update hostname substitution in helmrelease and ks configuration
  kubernetes/doc-home-cluster/apps/media/plex/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update namespace for cilium GitRepository and cert-manager dependency
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update cilium namespace from kube-system to flux-system
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update cilium namespace from flux-system to kube-system
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/helmrepository.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix: update device names for zeus and ares nodes in helmrelease configuration
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: update Talos configuration and bootstrap files for improved deployment
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/bootstrap/bootstrap.env
  kubernetes/bootstrap/helmfile.yaml
  kubernetes/bootstrap/templates/resources.yaml.j2
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix: correct resource path for authentik kustomization
  kubernetes/apps/authentik/kustomization.yaml
Labels: area/kubernetes

fix: remove vpn resource from kustomization configuration
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fix: update blackbox-exporter configuration in kustomization file
  kubernetes/apps/monitoring/blackbox-exporter/ks.yaml
Labels: area/kubernetes

fix: update node-feature-discovery kustomization for consistent namespace and improved configuration
  kubernetes/apps/system/node-feature-discovery/ks.yaml
Labels: area/kubernetes

fix: reintroduce node-feature-discovery HelmRelease and related configurations
  kubernetes/apps/system/node-features-discovery/app/helmrelease.yaml
  kubernetes/apps/system/node-features-discovery/app/kustomization.yaml
  kubernetes/apps/system/node-features-discovery/ks.yaml
  kubernetes/apps/system/node-features-discovery/rules/kustomization.yaml
  kubernetes/apps/system/node-features-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes

paused various releases
  kubernetes/apps-onhold/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/app/kustomizeconfig.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/app/values.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/ks.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps-onhold/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps-onhold/external-secrets/kustomization.yaml
  kubernetes/apps-onhold/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps-onhold/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/apps-onhold/external-secrets/onepassword-connect/ks.yaml
Labels: area/kubernetes

paused various releases
  kubernetes/apps-onhold/kube-system/cilium/app/crds.yaml
  kubernetes/apps-onhold/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps-onhold/kube-system/cilium/app/helmrepository.yaml
  kubernetes/apps-onhold/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps-onhold/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps-onhold/kube-system/cilium/app/values.yaml
  kubernetes/apps-onhold/kube-system/cilium/config/bgp.conf
  kubernetes/apps-onhold/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps-onhold/kube-system/cilium/config/l3.yaml
  kubernetes/apps-onhold/kube-system/cilium/config/pool.yaml
  kubernetes/apps-onhold/kube-system/cilium/gateway/certificate.yaml
  kubernetes/apps-onhold/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/apps-onhold/kube-system/cilium/gateway/gateway-internal.yaml
  kubernetes/apps-onhold/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps-onhold/kube-system/cilium/ks.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-domus-vlan.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-internet.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-lan.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-synology.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-egress-world.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-ingress-internet.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-ingress-lan.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-ingress-metrics.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/allow-ingress-world.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/default-allow-kubedns.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/kube-system-allow-all.yaml
  kubernetes/apps-onhold/kube-system/cilium/netpols/kustomization.yaml
  kubernetes/apps-onhold/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps-onhold/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps-onhold/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps-onhold/kube-system/coredns/app/ocirepository.yaml
  kubernetes/apps-onhold/kube-system/coredns/app/values.yaml
  kubernetes/apps-onhold/kube-system/coredns/ks.yaml
  kubernetes/apps-onhold/kube-system/kustomization.yaml
  kubernetes/apps-onhold/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps-onhold/kube-system/metrics-server/app/helmrepository.yaml
  kubernetes/apps-onhold/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps-onhold/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes

paused various releases
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

paused various releases
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

paused various releases
  kubernetes/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/flux-system/flux-operator/app/values.yaml
  kubernetes/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  kubernetes/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  kubernetes/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/flux-system/flux-operator/instance/ocirepository.yaml
  kubernetes/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/flux-system/flux-operator/instance/values.yaml
  kubernetes/flux-system/flux-operator/ks.yaml
  kubernetes/flux-system/kustomization.yaml
Labels: area/kubernetes

remove Services vault from onepassword ClusterSecretStore configuration
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes

paused various releases
  .taskfiles/k8s-bootstrap/Taskfile.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/app/values.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/github/webhooks/httproute.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/ocirepository.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/instance/values.yaml
  kubernetes/apps-onhold/flux-system/flux-operator/ks.yaml
  kubernetes/apps-onhold/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/doc-home-cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/doc-home-cluster/**/*
