Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/doc-home-cluster

feat(cross-seed) added network rule for autobrr
  kubernetes/doc-home-cluster/apps/downloads/autobrr/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(openwebui-pipelines) added requirements
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/config/deepresearch_requirements.txt
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(openwebui-pipelines) added requirements
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(openwebui-pipelines): startup probe initial delay reduced
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(n8n) fixed hostname env
  kubernetes/doc-home-cluster/apps/selfhosted/n8n/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(n8n) added knowledge db
  kubernetes/doc-home-cluster/infrastructure/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(openwebui-pipelines): added external scripts
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/kustomization.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/cookies.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/gaia_scorer.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/mdconvert.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/reformulator.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/run_agents.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/text_inspector_tool.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/text_web_browser.py
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/pipelines/scripts/visual_qa.py
Labels: area/kubernetes, cluster/doc-home-cluster

feat(n8n) added connection to openwebui api
  kubernetes/doc-home-cluster/apps/selfhosted/n8n/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(openwebui): added nginx network rule
  kubernetes/doc-home-cluster/apps/selfhosted/n8n/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/open-webui/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(splunk) first release
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/pvc.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(grafana): added pvc
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(grafana): added pvc
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update renovate.json5
  renovate.json5
Labels: none

Update pre-pull-images.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/ci

Update flux-local.yaml
  .github/workflows/flux-local.yaml
Labels: area/ci

Update flux-local.yaml
  .github/workflows/flux-local.yaml
Labels: area/ci

Update pre-pull-images.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/ci

Update flux-local.yaml
  .github/workflows/flux-local.yaml
Labels: area/ci

refactor(external-dns): whole refactor for external dns
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/config/config.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/dnsEndpoint.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/kustomizeconfig.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/external/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/external/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/shared/dns_endpoint-crd.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/shared/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

refactor(external-dns): whole refactor for external dns
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/cloudflare/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(externaldns-cloudflare): dependency naming
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(alertmanager): dependencies fixed
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(cloudflared): dependencies fixed
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

refactor(container): switched onedr0p to home-operation
  .renovate/autoMerge.json5
  .renovate/versioning.json5
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/media/plex/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/actions-runner-controller/runners/doc-labs.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

refactor(container): switched onedr0p to home-operation
  .renovate/autoMerge.json5
  .renovate/versioning.json5
Labels: none

refactor(container): switched onedr0p to home-operation
  .renovate/autoMerge.json5
  .renovate/versioning.json5
Labels: none

refactor(container): switched onedr0p to home-operation
  .renovate/autoMerge.json5
  .renovate/versioning.json5
Labels: none

feat(splunk): first deploy
  kubernetes/doc-home-cluster/infrastructure/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(nginx) updated
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(n8n): addes digest to image
  kubernetes/doc-home-cluster/apps/selfhosted/n8n/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(ollama): added digest to image
  kubernetes/doc-home-cluster/apps/selfhosted/ollama/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(tandoor): added digest to image
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

added aider to gitignore
  .gitignore
Labels: none

feat(splunk) added kvstore
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(splunk): api enabled
  kubernetes/doc-home-cluster/infrastructure/monitoring/splunk/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore: add GitHub Actions workflow for deploying MkDocs
  .github/workflows/deploy-mkdocs.yml
Labels: area/ci

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/doc-home-cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/doc-home-cluster/**/*
