Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

tandoor deployed
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

k8z linted
  kubernetes/doc-home-cluster/infrastructure/system-controllers/k8tz/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/secret-extrascrapes--.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/dashboard/kustomization.yaml
Labels: area/kubernetes

system-upgrade-controller updated
  kubernetes/doc-home-cluster/infrastructure/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/secret-extrascrapes.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/netpols/allow-ingress-metrics.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/netpols/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/netpols/allow-ingress-metrics.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

monitoring services complete refactor
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

k8z linted
  kubernetes/doc-home-cluster/infrastructure/network/namespace.yaml
Labels: area/kubernetes

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

home assistant network policy updated
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/networkpolicy.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart victoria-metrics-k8s-stack ( 0.23.1 → 0.23.2 )"
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

vector refactored
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

vector removed
  kubernetes/doc-home-cluster/infrastructure/monitoring/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/config/vector.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/agent/rbac.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/aggregator/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/vector/ks.yaml
Labels: area/kubernetes

victoria metrics updated
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/helmrelease.yaml.bak
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/prometheus-operator/crds/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart ingress-nginx ( 4.10.1 → 4.11.0 )"
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

gitignore updated - added opentofu
  .gitignore
Labels: none

iot vlan added
  infrastructure/talos/doc-home-cluster/talconfig.yaml
  infrastructure/talos/doc-home-cluster/talenv.sops.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

iot vlan added
  infrastructure/talos/doc-home-cluster/talconfig.yaml
  infrastructure/talos/doc-home-cluster/talenv.sops.yaml
  kubernetes/doc-home-cluster/infrastructure/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

iot vlan added
  infrastructure/talos/doc-home-cluster/talconfig.yaml
  kubernetes/doc-home-cluster/infrastructure/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

iot vlan added
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

iot vlan added
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

semi-rollback
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart ingress-nginx ( 4.10.1 → 4.11.1 )"
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Update selfhosted
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/ks.yaml
Labels: area/kubernetes

Update selfhosted
  kubernetes/doc-home-cluster/apps/selfhosted/big-agi/ks.yaml
Labels: area/kubernetes

volsync rollback
  kubernetes/doc-home-cluster/infrastructure/system/volsync/app/helmrelease.yaml
Labels: area/kubernetes
