Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/doc-home-cluster

fix(vpn-downloads): fixed dns endpoint
  kubernetes/doc-home-cluster/apps/downloads/vpn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(vpn-downloads): changed service type (LoadBalancer) for shadowsocks service
  kubernetes/doc-home-cluster/apps/downloads/vpn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(vpn-downloads): network policy matching
  kubernetes/doc-home-cluster/apps/downloads/vpn/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(prowlarr): network policy vpn matching
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(vpn-downloads): ingress networkpolicy include all world
  kubernetes/doc-home-cluster/apps/downloads/vpn/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(pre-commit): installed
  .pre-commit-config.yaml
Labels: none

feat(qbtools) added refreshInterval to ExternalSecret
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/tools/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(ExternalSecret): added refreshInterval to all ExternalSecret resources
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/notifiarr/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/vpn/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/home-automation/esphome/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/home-automation/mosquitto/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/media/plex/plex-auto-languages/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/media/plex/plex-image-cleanup/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/media/plex/trakt-sync/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/big-agi/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/ghostfolio/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/ghostfolio/redis/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/lobechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/crunchy-postgres-operator/pgadmin/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/network/cloudflared/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/external/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/network/external-dns/internal/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/security/authentik/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/security/authentik/redis/externalsecret.yaml
  kubernetes/doc-home-cluster/templates/volsync/wasabi/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

style(ExternalSecret): formatting
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/big-agi/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/lobechat/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(qbittorrent): Changed PVC access modes
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(reloader): aedded image
  kubernetes/doc-home-cluster/infrastructure/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(mongodb-operator): first deploy
  kubernetes/doc-home-cluster/flux/repositories/kustomization.yaml
  kubernetes/doc-home-cluster/flux/repositories/mongodb.yaml
  kubernetes/doc-home-cluster/infrastructure/database/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/operator/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/operator/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

style(mongodb-operator): yaml formatted
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(mongodb-cluster) first deploy
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/mongodbcommunity.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/mongodbcommunity.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/mongodbcommunity.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/mongodbcommunity.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(mongodb) small fixes
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/cluster/mongodbcommunity.yaml
  kubernetes/doc-home-cluster/infrastructure/database/mongodb/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

mongodb moved to archive
  .archive/mongodb/cluster/externalsecret.yaml
  .archive/mongodb/cluster/kustomization.yaml
  .archive/mongodb/cluster/mongodbcommunity.yaml
  .archive/mongodb/ks.yaml
  .archive/mongodb/operator/helmrelease.yaml
  .archive/mongodb/operator/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(database-cruncy): added librechat DB
  kubernetes/doc-home-cluster/infrastructure/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(librechat) first release + cpu discovery rule for avx
  kubernetes/doc-home-cluster/apps/selfhosted/kustomization.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/config/librechat.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/system/node-feature-discovery/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

various linting
  kubernetes/doc-home-cluster/infrastructure/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/doc-home-cluster/infrastructure/system/intel-device-plugins/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/system/node-feature-discovery/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat): openai api fixed
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat): small fixes
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/config/librechat.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat): small fixes
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/config/librechat.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(all) memory requests reduced
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/notifiarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

chore(helm): update chart authentik ( 2024.6.4 → 2024.10.4 )
  kubernetes/doc-home-cluster/infrastructure/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(alertmanager) removed synology-csi dependency
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat) requests & limits adjusted
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(grafana) added correct clientid
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(librechat) agents added
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(cross-seed) added new indexer
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(github-sa) fixed python packages (to be tested)
  kubernetes/doc-home-cluster/infrastructure/dev/service-account/service-account/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(pgadmin) storage updated
  kubernetes/doc-home-cluster/infrastructure/database/crunchy-postgres-operator/pgadmin/pgadmin.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Feat(tandoor) released
  kubernetes/doc-home-cluster/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(tandoor) db config updated
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(librechat) added renovate matching
  .github/renovate/versioning.json5
Labels: area/ci

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/doc-home-cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/doc-home-cluster/**/*
