Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

small changes on snapshot controller ks (not deployed)
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

reloader added (not yet deployed)
  kubernetes/doc-home-cluster/infrastructure/system/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/reloader/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/system/reloader/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/reloader/ks.yaml
Labels: area/kubernetes

flux rollback notification.toolkit.fluxcd.io/v1 to v1beta 2 for alert and provider
  kubernetes/doc-home-cluster/infrastructure/flux-system/add-ons/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

prometheus updated
  kubernetes/doc-home-cluster/infrastructure/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

cilium updated
  kubernetes/doc-home-cluster/infrastructure/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

removed (temporary) volsynk
  kubernetes/doc-home-cluster/infrastructure/system/kustomization.yaml
Labels: area/kubernetes

flux rollback to vibeta2 for gitRepository
  kubernetes/doc-home-cluster/infrastructure/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes

flux rollback to vibeta2 for gitRepository
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes

volsynk added
  kubernetes/doc-home-cluster/infrastructure/system/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/volsync/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/system/volsync/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/system/volsync/app/prometheusrule.yaml
  kubernetes/doc-home-cluster/infrastructure/system/volsync/ks.yaml
Labels: area/kubernetes

synology-csi source updated
  .vscode/settings.json
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes

added reloader
  kubernetes/doc-home-cluster/infrastructure/system/kustomization.yaml
Labels: area/kubernetes

renovate config updated
  .github/renovate/autoMerge.json5
Labels: area/ci

oauth2-proxy added
  kubernetes/doc-home-cluster/infrastructure/security/kustomization.yaml
Labels: area/kubernetes

oauth2-proxy helmrelease updated
  kubernetes/doc-home-cluster/infrastructure/security/oauth2-proxy/app/helmrelease.yaml
Labels: area/kubernetes

grafana added
  kubernetes/doc-home-cluster/infrastructure/monitoring/kustomization.yaml
Labels: area/kubernetes

volsync repo fixed
  kubernetes/doc-home-cluster/infrastructure/system/volsync/ks.yaml
Labels: area/kubernetes

volsync repo fixed
  kubernetes/doc-home-cluster/infrastructure/system/volsync/ks.yaml
Labels: area/kubernetes

reloader repo fixed
  kubernetes/doc-home-cluster/infrastructure/system/reloader/ks.yaml
Labels: area/kubernetes

Remove .vscode/settings.json
  .vscode/settings.json
Labels: none

added repos
  .gitignore
  kubernetes/doc-home-cluster/flux/repositories/backube.yaml
  kubernetes/doc-home-cluster/flux/repositories/kustomization.yaml
  kubernetes/doc-home-cluster/flux/repositories/stakater.yaml
Labels: area/kubernetes

postgres operator added
  kubernetes/doc-home-cluster/flux/repositories/ext-postgres-operator.yaml
  kubernetes/doc-home-cluster/flux/repositories/kustomization.yaml
  kubernetes/doc-home-cluster/flux/repositories/zalando-postgres-operator.yaml
  kubernetes/doc-home-cluster/infrastructure/database/ext-postgres-operator/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/ext-postgres-operator/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/database/ext-postgres-operator/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/ext-postgres-operator/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/namespace.yaml
  kubernetes/doc-home-cluster/infrastructure/database/postgres-backup/app/cronjob.yaml
  kubernetes/doc-home-cluster/infrastructure/database/postgres-backup/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/postgres-backup/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/cluster.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/service.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/operator/configmap.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/operator/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/operator/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/operator/kustomization.yaml
Labels: area/kubernetes

postgres-operator updated to 1.10.0
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/operator/helmrelease.yaml
Labels: area/kubernetes

postgres cluster updated
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/cluster.yaml
Labels: area/kubernetes

Update lint.yaml
  .github/workflows/lint.yaml
Labels: area/ci

added snapshot controller
  .gitignore
  kubernetes/doc-home-cluster/flux/repositories/kustomization.yaml
  kubernetes/doc-home-cluster/flux/repositories/piraeus.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

added snapshot controller
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

added synology snapshotter
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes

added synology snapshotter
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes

added snapshot controller
  kubernetes/doc-home-cluster/infrastructure/system/reloader/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/system/volsync/ks.yaml
Labels: area/kubernetes

Delete settings.json
  .vscode/settings.json
Labels: none

created home assistant db
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/database.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/pvc.yaml
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/database/zalando-postgres/cluster/cluster.yaml
Labels: area/kubernetes

created home assistant db
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes

created home assistant db
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

added volsync backup for home assistant
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/volsync.yaml
Labels: area/kubernetes

added volsync backup for home assistant
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/kustomization.yaml
Labels: area/kubernetes

added volsync backup for home assistant
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/volsync.yaml
Labels: area/kubernetes

added volsync backup for home assistant
  kubernetes/doc-home-cluster/apps/home-automation/home-assistant/app/volsync.yaml
Labels: area/kubernetes

added pv backup for home-automation
  kubernetes/doc-home-cluster/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/home-automation/mosquitto/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes

added pv backup for downloads
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/replicationsource.yaml
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/radarr/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/volsync.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/doc-home-cluster/apps/downloads/sonarr/app/volsync.yaml
Labels: area/kubernetes

synology snapshot updated
  kubernetes/doc-home-cluster/infrastructure/synology-csi/synology-csi.yaml
Labels: area/kubernetes
