Repository D-o-c-labs/Doc-Home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/doc-home-cluster

feat(librechat) added renovate matching
  .github/renovate/versioning.json5
Labels: area/ci

feat(loki): config updated - s3 bucket removed
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/loki/app/prometheus-rule.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(grafana) datasources updated
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(tandoor) added external secret
  kubernetes/doc-home-cluster/apps/selfhosted/tandoor/app/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat) probes
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(librechat) probes
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) deployed
  kubernetes/doc-home-cluster/flux/repositories/sonarqube.yaml
  kubernetes/doc-home-cluster/infrastructure/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/externalsecret.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(authentik) specify image tag in helm chart
  kubernetes/doc-home-cluster/infrastructure/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(authentik) renovate versioning
  .github/renovate/versioning.json5
Labels: area/ci

style(authentik) renovate versioning
  .github/renovate/versioning.json5
Labels: area/ci

style(authentik) renovate versioning formatting
  .github/renovate/versioning.json5
Labels: area/ci

fix(renovate) various small changes
  .archive/victoria-metrics/app/helmrelease.yaml
  .archive/victoria-metrics/app/helmrepository.yaml
  .archive/victoria-metrics/app/kustomization.yaml
  .archive/victoria-metrics/ks.yaml
  .github/renovate.json5
  .github/renovate/cluster.json5
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/helmrelease.yaml.bak
  kubernetes/doc-home-cluster/infrastructure/monitoring/victoria-metrics/app/secret-extrascrapes.yaml
Labels: area/ci, area/kubernetes, cluster/doc-home-cluster

fix(renovate) various small changes
  .github/renovate.json5
Labels: area/ci

fix(renovate) various small changes
  .github/renovate.json5
Labels: area/ci

fix(renovate) various small changes
  .github/renovate/clusters.json5
Labels: area/ci

feat(sonarqube) external db
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Revert "chore(helm)!: Update chart snapshot-controller ( 3.0.6 → 4.0.0 )"
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) telemetry removed
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(sonarqube) admin password secret fixed
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(sonarqube) added helm repo
  kubernetes/doc-home-cluster/flux/repositories/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) telemetry removed
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) downgrade
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) downgrade
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(sonarqube) helmrelease rewrited with app-template
  kubernetes/doc-home-cluster/infrastructure/dev/sonarqube/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(snapshot-controller) various fix + lint
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/doc-home-cluster/infrastructure/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(grafana) ingress changed to external
  kubernetes/doc-home-cluster/infrastructure/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Revert "chore(container): update image ghcr.io/cross-seed/cross-seed ( 6.2.1 → 6.2.3 )"
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(downloads) folder structure changed
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(cross-seed) added new tracker
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(cross-seed) linkDir fixed
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

feat(ingress) managed all ingress-int as cname
  kubernetes/doc-home-cluster/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/notifiarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/downloads/sabnzbd/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/esphome/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/multiPAN/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/doc-home-cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/monitoring/blackbox-exporter/app/helmrelease.yaml
  kubernetes/doc-home-cluster/infrastructure/network/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(plex): Network Policy fixed
  kubernetes/doc-home-cluster/apps/media/plex/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(overseerr): Network Policy fixed
  kubernetes/doc-home-cluster/apps/downloads/overseerr/app/networkpolicy.yaml
  kubernetes/doc-home-cluster/apps/media/tautulli/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

fix(tautulli) missing network policy in kustomization
  kubernetes/doc-home-cluster/apps/media/tautulli/app/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

dismiss(sonarqube)
  .archive/sonarqube/app/externalsecret.yaml
  .archive/sonarqube/app/helmrelease.yaml
  .archive/sonarqube/app/kustomization.yaml
  .archive/sonarqube/app/networkpolicy.yaml
  .archive/sonarqube/ks.yaml
  kubernetes/doc-home-cluster/infrastructure/dev/kustomization.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update helmrelease.yaml
  kubernetes/doc-home-cluster/apps/selfhosted/librechat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

Update externalsecret.yaml
  kubernetes/doc-home-cluster/apps/downloads/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/doc-home-cluster

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/doc-home-cluster:
  - changed-files:
      - any-glob-to-any-file: kubernetes/doc-home-cluster/**/*
